<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <section>
        <tl-log-form></tl-log-form>
      </section>
    </div>
    <div class="col-sm-12 col-md-6">
      <section>
        <tl-timelog (log)="getLog($event)"></tl-timelog>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <section>
        <tl-cal (log)="getLog($event)"></tl-cal>
      </section>
    </div>
    <div class="col-sm-12 col-md-6">
      <section>
        <tl-detail-log [logId]="logId"></tl-detail-log>
      </section>
    </div>
  </div>
</div>
