nav {
  margin-left: -15px;
  margin-right: -15px;
  .navbar-collapse {
    transition: height 0.3s, visibility 0.2s, opacity 0.2s linear;
    &.show {
      visibility: visible;
      opacity: 1;
      height: 150px;
    }
    &.collapse:not(.show) {
      display: unset;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }
}

:host {
  display: block;
  height: 100%;
}
