.logs-container {
  height: 461px;
  overflow: scroll;
  .log-item {
    background-color: #e3e0cc;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .log-item-hours {
      padding-left: 15px;
    }
    .log-item-desc {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .log-item-p {
      margin: 0;
    }
    .hidden {
      display: none;
    }
  }
}
