@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/media-queries.scss";
@import "../node_modules/fullcalendar/dist/fullcalendar.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";

html {
  height: 100%;
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    height: 100%;
  }
}


